@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

/* .port {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #75C310 transparent;
  scrollbar-width: thin;
} */

button {
  cursor: pointer;
}
* {
  font-family: "montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #383838; */
  background-color: hsl(222, 47%, 4%);
}

@theme {
  /* --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card)); */

  --animate-pulse-subtle: pulse-subtle 1s ease-in-out infinite;
  --animate-meteor: meteor 1s linear infinite;

  /* @keyframes float{
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  } */

  @keyframes pulse-subtle {
    0%,
    100% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.8;
    }
  }
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

@utility meteor {
  @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
